*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.password-strength{
    width: 100%;
    height: 10px;
    border: 1px solid rgb(139, 137, 137);
    border-radius: 50px;
    z-index: 0;
}
.paint{
    transition: .9s;
    height: 10px;
    border-radius: 50px;
    z-index: 1;
}

